.display-none {         /* needed to control if an element is to be displayed */
    display: none;
}



body {
    display: flex;
    flex-direction: column;
    padding: 1rem 20%;
    background-color: green;
}

header, main, section, footer {
    background-color: #eee;
    padding: 0 1rem;
}

h1 {
    text-align: center;
    background-color: green;
    color: #eee;
}

.header__new-todo-item>input {
    margin-left: 0.7rem;
    padding-left: 0.6rem;
    width: 20rem;
}

button {
    background-color: #ccc;
}

button:hover {
    background-color: #aaa;
}


footer>button {
    margin: 1rem;
    padding: 0 auto;
}

.section__pending {
    background-color: #cc9;
    padding-bottom: .5rem;
}

.section__todos--pending>div>button {
    position: relative;
    /* left: 5rem; */
    font-weight: 900;
}

.section__todos--pending>div>span {
    display: inline-block;
    width: 20rem;
}

.section__completed {
    background-color: #cc7;
    padding-bottom: .5rem;
}

.section__todos--completed>div>span {
    display: inline-block;
    width: 20rem;
}

.section__todos--completed>div>button {
    font-weight: 900;
}